    .project-card {
        width: 30%;
    }


@media (min-width: 768px) and (max-width: 1200px) {
    .project-card {
        width: 43%
    }
}

    @media (max-width: 767px) {
        .project-card {
            width: 75%
        }

}
.project-card {
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
    margin: 10px;
    border-radius: 8px;
    }

    
.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    }


.project-card h3 {
text-align: center;
}

.project-card h4 {
    text-align: center;
}