/* Navigation styling  */


.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


@media (min-width:768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--purple);
        background-color: white;
        max-width: 1200px;
        margin: 15px auto;
        padding-bottom: 15px;
    }

    header .logo {
        margin-left: 20px;
        max-width: 20%;
        height: auto;
        display: flex;
        justify-content: start;
    }

    header .logo img {
        max-width: 70%;
    }
}



@media (min-width:768px) {
    header .hamburger-button, header .search-icon {
        display: none;
    }
}


.desktop-nav {
    display: none;
}

@media (min-width:768px) {
    .desktop-nav {
        display: block;
    }
    .mobile-nav {
        display: none;
    }
}



@media (min-width:768px) {

    header nav ul {
        display: flex;
        gap: 24px;
        margin-right: 16px;
    }
}


@media (max-width: 767px) {

    header {
        display: grid;
        grid-gap: 1rem;
        align-items: center;
        width: 100%;
        grid-template-rows: auto;
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: "mobile-nav-left mobile-nav-center mobile-nav-right";
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 48rem;
        margin: 0 auto;
    }

    .mobile-nav-right {
        display: flex;
        justify-content: end;
    }

    .mobile-nav-left {
        display: flex;
        justify-content: start;
    }

    header img {
        width: 135px;
    }

    header .search-icon {
        width: 35px;
        color: var(--light-purple);
    }
}



header ul a {
    margin: 0 20px;
    font-size: 20px;
    text-decoration: none;
    color: var(--purple);
    font-family: var(--heading-font-family);
}

.display-block {
    display: block;
}



.mobile-nav a {
    padding: 4px 16px;
}

h4 {
    margin: 15px;
}

h4, p {
    font-family: var(--default-font-family);
}

p {
    margin: 0 15px;
}

.hidden {
    display: none;
}
.mobile-nav {
    display: none;
}

/* Add styles to show the mobile menu when the 'hidden' class is not present */
.mobile-nav:not(.hidden) {
    display: block;
}



a {
    text-decoration: none;
    color: var(--global-color-text);
}



h3 a {
    color: var(--purple);
}

