@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

:root {
	--light-purple: #8084CB;
	--blue: #011A70;
	--purple: #6300AF;
    --global-color-text: #3F3F3F;
    --heading-font-family:'Bebas Neue', sans-serif;
    --default-font-family: 'Raleway', sans-serif;
}


/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: var(--default-font-family);
	/* color: var(--global-color-text); */
	scroll-behavior: smooth;
    height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: var(--heading-font-family);
    letter-spacing: 0.05em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	padding: 0;
    text-decoration: none;
}

ol,
ul {
	list-style: none;
}

/* img {
	max-width: 100%;
	height: auto;
} */

input,
button,
textarea,
select {
	font: inherit;
}



/* Global styles */

label, input, textarea, select {
    display: block;
    width: 100%;
}
input, select, textarea {
    padding: 8px;
    border-color: var(grey);
}

#root {
    margin: 0 auto;
    height: 100%;
}

body {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}


h1, h2, h3 {
    margin: 25px 15px;
    color: var(--purple);
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin: 25px 15px;
}

main {
    margin: 32px 108px 0px;
    padding: 0px 16px;
}

