/* form styling */

.form-container {
    max-width: 600px;
    margin: 45px auto;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--purple);
}

label {
    font-family: var(--default-font-family);
    margin-top: 15px;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    margin-bottom: 20px;
}

.submit-button {
    padding: 10px 20px;
    background-color: var(--purple);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 27px;
    transition: all 100ms ease-in-out;
    font-size: 16px;
    border: none;
}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Vertically center items */
    margin-bottom: 10px; /* Add spacing between checkbox and other inputs */
}

.checkbox-label {
    margin-left: 10px; /* Add space between the checkbox and label text */
    font-weight: bold;
    color: var(--purple);
}